@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--primary-color: #7754f8;
	--primary-color-light: #f0edfe;
	--secondary-color: #adb6bf;
	--bg-color-light: #f0f4f7;
	--em-bg-color-1: #dde4ec;
	--em-bg-color-2: #12a2e9;
	--btn-primary: #7c3aed;
	--midgrey: #4b5563;
	--danger: #dc2626;
	--light-grey: #f4f5f7;
	--light-grey2: #6b7280;
	--textgrey: #374151;
}

button {
	outline: 0;
	font-family: 'Montserrat', sans-serif;
}

.remove-margin {
	margin-block-end: 0;
	margin-block-start: 0;
}

.btn {
	text-decoration: none;
	display: inline-block;
	padding: 0.6rem 1.5rem;
	border: none;
	background-color: transparent;
	font-size: 0.825rem;
	font-weight: 600;
	text-align: center;
	outline: none;
	cursor: pointer;
}
.btn-primary-solid {
	background-color: var(--primary-color);
	color: white;
	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.btn-square {
	padding: 0.5rem;
	border: 0;
	background: var(--primary-color);
	color: #fff;
	cursor: pointer;
	border-radius: 0.25rem;
}

.btn {
	display: inline-block;
	font-size: 0.825rem;
	font-weight: 600;
	text-align: center;
	outline: none;
	cursor: pointer;
}

.btn:disabled {
	cursor: auto;
}

.btn-outline-secondary {
	background: transparent;
	border: 1.5px solid var(--midgrey);
	color: var(--midgrey);
	margin-right: 1rem;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
