@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--primary-color: #7754f8;
	--primary-color-light: #f0edfe;
	--secondary-color: #adb6bf;
	--bg-color-light: #f0f4f7;
	--em-bg-color-1: #dde4ec;
	--em-bg-color-2: #12a2e9;
	--btn-primary: #7c3aed;
	--midgrey: #4b5563;
	--danger: #dc2626;
}

button {
	outline: 0;
}
