* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--primary-color: #7754f8;
	--primary-color-light: #f0edfe;

	--secondary-color: #adb6bf;

	--bg-color-light: #f0f4f7;

	--em-bg-color-1: #dde4ec;
	--em-bg-color-2: #12a2e9;
}

.btn {
	text-decoration: none;
	display: inline-block;
	padding: 0.4rem 1.5rem;
	border: none;
	background-color: transparent;
	font-size: 0.825rem;
	font-weight: 600;
	text-align: center;
	outline: none;
	cursor: pointer;
}
.btn:focus {
	outline: 1px solid;
}

.btn-primary-solid {
	background-color: var(--primary-color);
	color: white;
	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.btn-secondary-solid {
	background-color: var(--primary-color-light);
	color: var(--primary-color);
	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.flex-grow {
	flex-grow: 1;
}
